# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.Crazy Pilot.iml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Projects\Unity Projects\Crazy Pilot\.idea\.idea.Crazy Pilot\.idea/dataSources/
/dataSources.local.xml
